.content {
    margin-top: 90px;
    margin-bottom: 120px;
}

.inline-pad {
    padding-left: 10px;
}

.edit-controls {
    margin: 1em 0;
}

.med-skip {
    margin-top: 40px;
}

footer,
.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #565e62;
    color: #eee;
}