{% extends 'base.html' %}

{% block title %}Capture Idea{% endblock title %}
{% block main %}
  <div class="col-md-10 col-md-offset-1 login well">
    <form method="post">
      <legend>Capture Idea</legend>
      {% if error %}<p class="alert alert-error">{{ error }}</p>{% endif %}
      <div class="form-group{% if form.title.errors %} error{% endif%}">
        {{ form.title.label(class="control-label") }}
        {{ form.title(class="form-control") }}
        {% for error in form.title.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
      </div>
      <div class="form-group{% if form.problem.errors %} error{% endif%}">
        {{ form.problem.label(class="control-label") }}
        {{ form.problem(class="form-control", rows=5) }}
        {% for error in form.problem.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
      </div>
      <div class="form-group{% if form.solution.errors %} error{% endif%}">
        {{ form.solution.label(class="control-label") }}
        {{ form.solution(class="form-control", rows=5) }}
        {% for error in form.solution.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save Idea</button>
      </div>
    </form>
  </div>
{% endblock main %}