{% extends 'base.html' %}

{% block title %}Login{% endblock title %}
{% block main %}
<div class="row">
  <div class="login well offset2 span8">
    <form method="post" class="form-horizontal">
      <legend>Capture Idea</legend>
      {% if error %}<p class="alert alert-error">{{ error }}</p>{% endif %}
      <div class="control-group{% if form.idea_title.errors %} error{% endif%}">
        {{ form.idea_title.label(class="control-label") }}
        <div class="controls">
          {{ form.idea_title }}
          {% for error in form.idea_title.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
      <div class="control-group{% if form.idea_description.errors %} error{% endif%}">
        {{ form.idea_description.label(class="control-label") }}
        <div class="controls">
          {{ form.idea_description }}
          {% for error in form.idea_description.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
      <div class="control-group{% if form.idea_author.errors %} error{% endif%}">
        {{ form.idea_author.label(class="control-label") }}
        <div class="controls">
          {{ form.idea_author }}
          {% for error in form.idea_author.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
      <div class="control-group{% if form.idea_notes.errors %} error{% endif%}">
        {{ form.idea_notes.label(class="control-label") }}
        <div class="controls">
          {{ form.idea_notes }}
          {% for error in form.idea_notes.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
      <div class="control-group{% if form.project_members.errors %} error{% endif%}">
        {{ form.project_members.label(class="control-label") }}
        <div class="controls">
          {{ form.project_members }}
          {% for error in form.project_members.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
        </div>
      </div>
      <div class="form-actions">
        <button type="submit" class="btn">Save Idea</button>
      </div>
    </form>
  </div>
</div>
{% endblock main %}